@model Sao.Models.Cursos

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINARo</h2>

<h3>¿Está seguro de que desea eliminar permanentemente este registro?</h3>
<fieldset>
    <legend>Cursos</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
