@model Sao.Models.Alumnos

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR</h2>

<h3>¿Está seguro de que desea eliminar permanentemente este registro?</h3>
<fieldset>
    <legend>Alumnos</legend>

    <div class="display-label">DNI</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DNI)
    </div>

    <div class="display-label">Clave</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clave)
    </div>

    <div class="display-label">FechaIngreso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaIngreso)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
